* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-family: $font-body;
    background: $clr-bg;
    color: $clr-text;
    height: 100%;
    line-height: 1.5;
}

body.modal-open {
    overflow: hidden;
}

a {
    color: $clr-accent;
    text-decoration: none;
    transition: color 0.2s;


    &:hover { color: lighten($clr-accent, 10%); }
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    margin-bottom: $space-sm;
}


ul { list-style: none; }