.map-container {
  position: relative;
  background: $clr-surface;
  border: 2px solid $clr-border;
  border-radius: $border-radius;
  overflow: hidden; 
  margin: 2em;

  &:hover {
    border: 2px solid $clr-accent;
    box-shadow: $shadow-lg;;
  }
}

/* Responsive SVG Map */
.map-svg {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;

  .kingdom-path {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 1.5;
    fill-opacity: 0.85;
    cursor: pointer;
    transition: fill 0.3s ease, filter 0.3s ease;

    vector-effect: non-scaling-stroke;
    shape-rendering: geometricPrecision;
    mix-blend-mode: multiply;
  }
}

/* Heraldic Colors per Kingdom */
#k-valor      { fill: rgba($valor-color, 0.8); stroke: darken($valor-color, 20%);}  
#k-aleri      { fill: rgba($aleri-color, 0.8); stroke: darken($aleri-color, 20%);}  
#k-draemir    { fill: rgba($draemir-color, 0.8); stroke: darken($draemir-color, 20%);}  
#k-serathis   { fill: rgba($serathis-color, 0.8); stroke: darken($serathis-color, 20%);}  
#k-thryssia   { fill: rgba($thryssia-color, 0.8); stroke: darken($thryssia-color, 20%);}  
#k-kaelvyrn   { fill: rgba($kaelvyrn-color, 0.8); stroke: darken($kaelvyrn-color, 20%);}  
#k-veyra      { fill: rgba($veyra-color, 0.8); stroke: darken($veyra-color, 20%);}  
#k-myrrdain   { fill: rgba($myrrdain-color, 0.8); stroke: darken($norveth-color, 20%);}  
#k-norveth    { fill: rgba($norveth-color, 0.8); stroke: darken($norveth-color, 20%);}  
#k-gilded-league     { fill: rgba($gilded-league-color, 0.8); stroke: darken($gilded-league-color, 20%);}  
#k-sugarspire { fill: rgba($sugarspire-color, 0.8);  stroke: darken($sugarspire-color, 20%);}  

/* Hover / Focus Glow */
.kingdom-path:hover {
  filter: drop-shadow(0 0 6px #fff) brightness(1.15);
  fill-opacity: 1;
}

/* Active (if you want clicked region to keep glowing) */
.kingdom-path.active {
  filter: drop-shadow(0 0 10px $clr-accent);
  stroke: $clr-accent;
  stroke-width: 2;
}

.borders {
  display: none !important;
}