@media (max-width: 768px) {
    .page-layout { flex-direction: column; }


    .side-nav {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    overflow-x: auto;
    }


    .lore-layout {
    flex-direction: column;
    margin-left: 0;
    }


    .lore-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid $clr-border;
    display: flex;
    justify-content: space-around;


    ul { display: flex; gap: $space-sm; }
    }
}