.lore-layout {

    display: flex;
    flex: 1;
    margin-left: $nav-width;
    
}


.lore-sidebar {

    width: $sidebar-width;
    background: $clr-surface-dark;
    color: $clr-text;
    padding: $space-md;
    border-right: 2px solid $clr-border;


    h2 {

        font-size: 1.2rem;
        margin-bottom: $space-md;

    }


    ul {
        li {

            margin: $space-sm 0;


            a {

                display: block;
                padding: $space-sm;
                border-radius: $border-radius;
                color: $clr-text-muted;


                &:hover, &.active {

                    background: $clr-primary;
                    color: $clr-text;
                    font-weight: bold;
                }
            }
        }
    }
}